.footer {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #000;
    border-top: 2px solid #2A7AE4;

    padding: 11px;
    box-sizing: border-box;

}

.footer button {
    width: calc(100% - 22px);
    
}

.footer img {
    width: 120px;
    height: 28.51px;
    padding: 25px;
}

@media (min-width: 769px) {

    .footer button{
        display: none;
    }

}