.contenedor {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
    max-width: 1440px;
    gap: 1rem;
}

.contenedor__videos {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
  }

.categoria {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1rem;
    gap: 1rem;
}

.categoria__encabezado {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
    box-sizing: border-box;
    position: relative;
}

.categoria__titulo {
    color: #f5f5f5;
    font-size: 2.5rem;
    line-height: 2.2rem;
    font-weight: 500;
    white-space: normal;
}

.ct2 {
    background-color: red;
    color: white;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 2rem;
    
}

.categoria__subtitulo {
    color: #f5f5f5;
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 400;
}

.categoria__link {
    text-decoration: none;
}

.lista__categorias {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-evenly;
    padding: 2rem;
    flex-wrap: wrap;
}

.input-color{
    position: absolute;
    top: .5rem;
    right: .5rem;
}




