.contenedor {
    display: flex;
    flex-direction: column;

    background-color: black;
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
    max-width: 1440px;

    gap: 1rem;

}

.categoria {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1rem;
    gap: 1rem;
}

.categoria__titulo {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
    box-sizing: border-box;
    position: relative;
}

.categoria h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 19px;
    color: #F5F5F5;
}

.categoria h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 14px;
    color: #F5F5F5;
}

.input-color{
    position: absolute;
    top: .5rem;
    right: .5rem;
}