.header {
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #000;
    width: 100%;
    max-width: 1440px;
    border-bottom: 2px solid #2a7ae4;
    padding: 0 20px;
    box-sizing: border-box;
}

/* .logo {
    flex: 1;
    display: flex;
    justify-content: center;
  }
 */


.header img {
    /* position: relative; */
    width: 105.21px;
    height: 25px;
    padding: 8px;
}

.menu-header {
    display: flex;
    justify-content: flex-end;
} 

.menu-items {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-item {

    margin-left: 20px;
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: normal;
}

.menu-item:last-child {
    margin-right: 0;
}

@media (max-width: 768px) {
    .header button {
        display: none;
    }
} 
  