html {
    font-size: 10px;
    background-color: grey;
        background-image: url(../src/assets/jj-ying-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
  }
  
    @media (max-width: 1024px) {
    html {
      font-size: 9px;
    }
  }
  
    @media (max-width: 768px) {
    html {
      font-size: 8px;
    }
  }
  