.campo{
    margin: 24px 0;
    font-family: 'Roboto', sans-serif;
}

.campo label{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    color: #E5E5E5;
 
    display: block;
    margin-bottom: 8px; 
}

.campo input{
    width: 100%;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    border:none;
    padding: 20px 20px;
    outline-color: #6278F7;
    font-size: 16px;
    box-sizing: border-box;
    color: #E5E5E5;
    
    background: #53585D;
    border-radius: 4px;
}

.campo-color input {
    height: 40px;
    padding: 5px 20px;
    width: 100px;
}